---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import type { Project } from '../types';

// Data Fetching: List all Markdown posts in the repo.
const projects = (await Astro.glob<Project>('./project/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.categoryId);
const projects_recent = projects.filter(({ frontmatter }) => frontmatter.categoryId == 1).sort(
		(a, b) =>
		a.frontmatter.orderId - b.frontmatter.orderId
	);
const projects_kalank = projects.filter(({ frontmatter }) => frontmatter.categoryId == 2).sort(
	(a, b) =>
	a.frontmatter.orderId - b.frontmatter.orderId
);
const projects_enjmin = projects.filter(({ frontmatter }) => frontmatter.categoryId == 3).sort(
	(a, b) =>
	a.frontmatter.orderId - b.frontmatter.orderId
);
const projects_other = projects.filter(({ frontmatter }) => frontmatter.categoryId == 4).sort(
	(a, b) =>
	a.frontmatter.orderId - b.frontmatter.orderId
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="fr" >
	<head>
		<MainHead
			title="Sekamelica Games"
			description="Alice Pinto : Développeuse indépendante - Artiste-auteure"
		/>
		<style>
			.grid
			{
				display: grid;
				grid-gap: 6rem;
			}

			.grid
			{
				grid-template-columns: 1fr 1fr;
			}

			.projectblock
			{
				max-width:476px; margin-bottom: 20px;
			}

			.majorlistelement 
			{
				font-weight: 600;
			}
		</style>
	</head>
	<body>
		<Nav />
		<main class="wrapper">
			<a class="title">Alice Pinto <a class="subtitle">@Sekamelica</a></a>
			<h3 class="accent">Développeuse indépendante de jeux-vidéo (artiste-auteure)</h3>
			<div class="grid">
				<div class="section">
					<p class="description">
						Je travaille en ce moment sur l'écriture et le design d'un metroidvania dont j'ai réalisé un premier prototype.
						Les contrôles hyper fluides, précis et réactifs seront exploités jusque dans leurs retranchements afin de surmonter 
						des défis d'exploration-plateforme, des combats et des boss qui se dresseront sur le chemin d'une quête entre vengeance et justice sociale.
						<br><br>
						<img style="aspect-ratio: 250 / 470; max-width: 470px; border: 3px solid var(--c-sekared);" alt="Metroidvania gif" src="/assets/projects/sekavania/sekavania_gif.gif">
						<br>
						<div class="projectblock">
							<PortfolioPreview project={projects_recent[0]} />
						</div>
						<div class="projectblock">
							<PortfolioPreview project={projects_recent[1]} />
						</div>
						<div class="projectblock">
							<PortfolioPreview project={projects_other[0]} />
						</div>
					</p>
				</div>
				<div class="section">
					<p class="description">
						Je réalise également des prestations de développement sur Unity pour d'autres studios où je partage mon expertise de plus de six ans d'utilisation 
						quotidienne d'Unity, notamment autour de :
						<ul>
							<li class="majorlistelement">Architecture de projet</li>
							<li class="majorlistelement">Programmation gameplay</li>
							<li class="majorlistelement">Programmation ui</li>
							<li class="majorlistelement">Programmation d'outils</li>
							Exemples :
							<ul>
								<li>custom editors d'Unity exploités pour le level design</li>
								<li>gestion des langages</li>
							</ul>
							<li class="majorlistelement">Programmation rendu</li>
							Exemples :
							<ul>
								<li>moteur de rendu 3D</li>
								<li>shaders</li>
								<li>génération procédurale de meshes</li>
							</ul>
							<li class="majorlistelement">Optimisation</li>
							Générale, algorithmique, ui, rendu
							<li class="majorlistelement">Développement mobile (android et iOS)</li>
							Exemples :
							<ul>
								<li>connaissance des stores et des processus de build</li>
								<li>connaissances des outils de data</li>
								<li>UI responsives</li>
								<li>fonctionnalités natives (gyroscope, lampe torche, galerie, ...)</li>
							</ul>
							<li class="majorlistelement">Développement d'expériences en réalité augmentée ou réalité virtuelle</li>
							Mobile (android et iOS), Hololens, Oculus GO.
						</ul>
						<div class="projectblock" style="margin-top: 112px;">
							<PortfolioPreview project={projects_kalank[0]} />
						</div>
						<div class="projectblock">
							<PortfolioPreview project={projects_kalank[2]} />
						</div>
					</p>
				</div>
			</div>
			<br><br>
			<a href="/projects" class="button" style="
			display: block;
			margin-left: auto;
			margin-right: 47.5%;
			width: 190px;
			">Voir tous les projets</a>
		</main>
		
		<Footer />
	</body>
</html>
